/* GENERAL STYLES */

body
{
  background-color: rgba(0,0,0,0.1);
}

li{cursor: pointer;}

*
{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  transform-origin: top;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* GUI STYLE */

.gui
{
  z-index: 99999;
}

  /* GUI MENU STYLE */
  .gui.menu
  {
    display: block;
    position: fixed;
    top: 20px;
    right: -1px;
    color: #fff;
  }

  .gui.menu .section
  {
    transform: translateX(70%);
    display: block;
    position: relative;
    width: 150px;
    height: 40px;
    margin: 1px;
    background-color: #50b6d8;
  }

  .gui.menu .section:hover
  {
    transform: translateX(0%);
  }

  .gui.menu .section > *
  {
    transform: translateY(-50%);
    top: 50%;
  }

  .gui.menu .section .icon
  {
    position: absolute;
    display: block;
    left: 9px;
    font-size: 25px;
  }

  .gui.menu .section .title
  {
    position: absolute;
    display: block;
    left: 50px;
    font-size: 12px;
    margin: 0;
  }

  /* GUI OPTIONS STYPE*/
  .gui.options
  {
    color: #fff;
    display: block;
    position: fixed;
    height: 100%;
    width: 300px;
    left: 0;
    top: 0;
    background-color: #50b6d8;
    transform: translateX(-100%);
    overflow-y: auto;
  }

  .gui.options .section
  {
    display: none;
    position: relative;
    margin: 10px;
  }

  .gui.options .section .title
  {
    position: relative;
    text-align: center;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .gui.options .section .sub-section
  {
    margin-top: 10px;
  }

  .gui.options .section .sub-section .title {font-size: 12px;}

.gui.show
{
  transform: translateX(0);
}

.gui.go_back
{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: fixed;
  display: block;
  bottom: 30px;
  right: 30px;
  background: #50b6d8;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}

.gui.go_back p
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}

.gui.go_back:hover{background: #fff;}
.gui.go_back:hover p {color: #50b6d8;}

/* VIEW STYLE */
.view-container
{
  position: relative;
  display: block;
  left: 50%;
  top: 50px;
  background-color: #fff;
  transform: translateX(-50%);
  margin: 10px;
  overflow: hidden;
  width: 595px;
  height: 842px;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}

.view
{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.view *
{
  position: absolute;
  display: block;
  transition: none;
  border: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.view > div:focus
{
  border: 2px solid #50b6d8;
}

.view > div:focus-within i
{
  display: block!important;
}

.view > div
{
  border: 2px solid transparent;
  background: transparent;
}

.view > div:hover
{
  border: 2px solid #50b6d8;
}

.view div textarea
{
  background: transparent;
  font-size: 10px;
}

.view div .font-size
{
  border: 2px solid #50b6d8;
  width: 25px;
  height: 17px;
  font-size: 11px;
  position: absolute;
  top: -25px;
  left: 0;
  opacity: 0;
  text-align: center;
}

.view div .font-size:focus
{
  opacity: 1;
}

.view div i
{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  color: #50b6d8;
  position: absolute;
  opacity: 0;
}

.view div .fa-arrows-alt
{
  right: 0;
  top: -25px;
}

.view div .fa-times
{
  right: 30px;
  top: -25px;
}

.view div .fa-angle-up
{
  color: tomato;
  background: transparent;
  transform-origin: center;
}

.view div .fa-angle-up.top-left
{
  transform: rotate(-45deg) scale(1.2);
  top: -10px;
  left: -10px;
}

.view div .fa-angle-up.top-right
{
  transform: rotate(45deg) scale(1.2);
  top: -10px;
  right: -10px;
}

.view div .fa-angle-up.bottom-left
{
  transform: rotate(-135deg) scale(1.2);
  bottom: -10px;
  left: -10px;
}

.view div .fa-angle-up.bottom-right
{
  transform: rotate(135deg) scale(1.2);
  bottom: -10px;
  right: -10px;
}

.view div .color
{
  opacity: 0;
  top: -27px;
  left: 32px;
}

.view div:hover i, .view div:hover input, .view div:hover .color
{
  opacity: 1;
}


.view div i:hover
{
  opacity: 1;
}

.view-container .loader-container
{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(120,0,0,0.6);
}

.view-container .loader-container p
{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-weight: 300;
  width: 200px;
  height: 200px;
  text-align: center;
}

.view-container .loader-container .file-loader
{
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
}

/* WIDGETS STYLE */

.dropdown
{
  max-height: 200px;
  overflow-y: auto;
}

.dropdown li
{
  position: relative;
  background-color: rgba(255,255,255,0.8);
  color: rgba(0,0,0,0.8);
  padding: 2px;
  text-align: center;
}

.dropdown div
{
  display: block;
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  opacity: 0;
}

.dropdown:hover div{transform: scaleY(1);opacity: 1;}

.dropdown div li:hover{background-color: #fff;}

.dropdown > li:first-child
{
  background-color: #fff!important;
}
